<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/createProduct.js"></script>
</head>
<body>
<div>
    <form>
        <p>Title <input id = "productTitle" type="text"></p>
        <p>Price <input id = "productPrice" type="number"></p>
        <p>Description <textarea id = "productDescription"></textarea></p>
        <p>Stock <input id = "productStock" type="number"></p>
        <p>Category <select id="categoryId"><option>1</option><option>2</option></select></p>
        <p><input type="button" value="Submit" id="submitBtn"></p>
    </form>
</div>
</body>
</html>